@import url(font.css);
@import url(common.css);
@import url(default.css);

header {
    display: flex;
    justify-content: space-between;
    /* logo와 inner를 header 넓이 안에서 좌우 끝으로배치*/
    height: 100px;
    padding: 0 30px;
    align-items: flex-start;
}
header .logo {
    margin: 28px 0 0 0;
}
header .inner {
    display: flex;/*gnb shop을 좌우로*/
    align-items: center;
    gap: 32px; /*gnb와 shop의 사이의 여백*/
}
header .inner .gnb ul {
    display: flex;
}
header .inner .gnb ul li a {
    display: block;/* a 필수값*/
    font-size: 23px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    padding: 41px 37px 39px 37px;
}
header .inner .shop {
    font-size: 18px;
    font-weight: 800;
    color: #00AC47;
    border: 1px solid #00AC47;
    padding: 7px 37px;
    border-radius: 25px;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 800px;
    color: #fff;
    margin: 0 30px;
    border-radius: 20px;
    text-align: center;
}
.visual h2 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -0.03em;
    padding:  370px 0 0 0;
}

.product {
    margin: 185px 0 0 0;
}

.product .tit h2 {
    color: #00AC47;
}
.product .tit p {
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    letter-spacing: -0.03em;
    margin: 7px 0 0 0;
}
.product .list {
    margin: 30px 0 0 0;
}
.product .list ul {
    display: flex;
    justify-content: space-between;
}
.product .list ul li {
    width: 297px;
}
.product .list ul li a {
    display: block;
}
.product .list ul li a .poto {
    font-size: 0;
    line-height: 0;
    /*이미지 하단에 여백을 삭제하기위해*/
}
.product .list ul li a h3 {
    font-size: 17px;
    color: #1d1d1d;
    margin: 19px 0 0 0;
    /* 한줄로 제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.network {
    background: url(../images/network.jpg) no-repeat center center / cover;
    height: 580px;
    color: #fff;
    margin: 142px 0 0 0;
}
.network h2 {
    color: #00AC47;
    padding: 188px 0 0 0;
}
.network .sub_tit {
    font-size: 45px;
    font-weight: 800;
    margin: 0 0 6px 0;
    letter-spacing: -0.03em; /*자간*/
}
.network a {
    border: 1px solid #fff;
    padding: 6px 19px;
    border-radius: 20px;
    display: inline-block;
    margin: 28px 0 0 0
}
footer {
    margin: 400px 0 0 0;
}
